<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {exp:nsm_better_meta:template}
    <link rel="stylesheet" href="/assets/css/app.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Yanone+Kaffeesatz:400,300,700' rel='stylesheet' type='text/css'>
    <script src="/bower_components/modernizr/modernizr.js"></script>
	 
  </head>
  <body class="{embed:body_class}">

    
  <header class="header">
    <nav class="nav">
      <ul>
        <li><span class="icon-menu js-nav-menu"></span></li>
        <li>
          <ul class="nav_links js-nav-links">
            <li><a href="/music">music</a></li>
            <li><a href="/videos">videos</a></li>
            <li><a href="/media">media</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/contact">contact</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="logo">
      <a href="/" title="PCSong Official Home"><img src="/assets/img/PC-logo.svg" alt="PC - Paul Chisom" width="170" class="js-logo"></a>
    </div>

    <div class="social">
      <a href="{twitter_link}" class="icon-twitter" target="_blank">&nbsp;</a>
      <a href="{facebook_link}" class="icon-facebook" target="_blank">&nbsp;</a>
      <a href="{youtube_link}" class="icon-youtube" target="_blank">&nbsp;</a>
      <a href="{instagram_link}" class="icon-instagram" target="_blank">&nbsp;</a>
      <a href="{soundcloud_link}" class="icon-soundcloud" target="_blank">&nbsp;</a>
    </div>
  </header>