{embed="Main/.header" body_class="contact"}
<div class="body">
    <div class="small-12 medium-5 column">
      <h1 class="heading js-fitText">LET'S TALK</h1>

        <div class="small-8 medium-12">
           <h4>
              Sharing God's love through music is my passion. Please join me on this journey. Like, follow and share on facebook, instagram, twitter, youtube, google+ and soundcloud 
            </h4>

            <p>
              You can also send a message to info@pcsongofficial.com
            </p>
        </div>

        <div class="contact-social-media row">
            <div class="small-4 medium-2 column"><a href="http://twitter.com/pcsong1" class="icon-twitter"></a></div>
            <div class="small-4 medium-2 column"><a href="https://www.facebook.com/paul.c.udo" class="icon-facebook"></a></div>
            <div class="small-4 medium-2 column"><a href="https://www.youtube.com/user/PCSongOfficial" class="icon-youtube"></a></div>
            <div class="small-4 medium-2 column"><a href="http://instagram.com/pcsong1" class="icon-instagram"></a></div>
            <div class="small-4 medium-2 column end"><a href="http://instagram.com/pcsong1" class="icon-soundcloud"></a></div>
        </div>
    </div>
  </div> 
{embed="Main/.footer"}