{embed="Main/.header" body_class="home"}
<div class="home-body">

    <div class="alert-box"><h3>OUT<br/>NOW</h3></div>

    <h2 class="home heading js-fitText">CHIOMA</h2>

    <div class="soundcloud-box">
      <iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/158130362&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </div>

    <div class="share">
      <span class="icon-heart js-share">&nbsp;</span>

      <div class="social-share js-social-share">
        Share on <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://www.pcsongofficial.com" target="_blank"></a>
        <a class="icon-twitter" href="https://twitter.com/home?status=http://www.pcsongofficial.com" target="_blank"></a>
      </div>
    </div>
    
  </div> 
{embed="Main/.footer"}