@import "compass/reset";
@import "bourbon";

@import "modules/color";

@import "settings";
//@import "foundation";

@import "bourbon";
//@import "foundation/components/block-grid";
@import "foundation/components/clearing";
//@import "foundation/components/flex-video";
@import "foundation/components/forms";
@import "foundation/components/grid";
@import "foundation/components/type";
//@import "foundation/components/inline-lists";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//  "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@import "modules/font";
@import "modules/type";


body {
	//overflow: hidden;
	font-family: $primary-font;
	background-color: $white;

	&.home {
		background: image-url("PC-Paul-Chisom---looking-up.jpg") no-repeat;
		background-position: center;
	}
	&.contact {
		background: image-url("PC---Paul-Chisom-Contact.jpg") no-repeat;
		background-position: center top;
		bacground-size: cover;

		@media #{$large-up} {
			background-size: cover;
		}
	}
	
	&.home, &.about {
		background-size: cover;
	}

	&.about {
		background-color: #b7b6c3;
		@media #{$medium-up} {
			background: image-url("PC---Paul-Chisom-Biography-image.jpg") no-repeat scroll;
			background-position: 60% top;
		}

		@media #{$large-up} {
			background-position: center top;
			background-size: cover;
		}
	}

}
html, body {
	width: 100%;
	height: 100%;
	background-position: center;
}

html {
	overflow-x: hidden;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

@import "modules/header";
@import "modules/music";
@import "modules/media";

.home-body, .body {
	width: 100%;
	padding-left: 3%;
	padding-right: 3%;
	float: left;
}

.share {
	float: left;
	@include inline-block;
	//background-color: $white;
	position: relative;

	.icon-heart	{
		font-size: rem-calc(30);
		color: $red;
		cursor: pointer;
		@include transition ( all 1s ease-in-out );
		@include inline-block;

		&:hover {
			@include transform(scale(1.2));
		}
	}

	.social-share {
		background-color: $white;
		border-radius: 4px;
		padding: rem-calc(10) rem-calc(20);
		position: relative;
		@include inline-block;
		top: rem-calc(-10);
		display: none;

		&:before {
			content: '';
			@include triangle(16px, $white, left);
			position: absolute;
			left: -16px;

		}

		[class^="icon-"] {
			padding-left: rem-calc(10);
		}
	}
}

.alert-box {
	padding: rem-calc(10%);
	padding-top: rem-calc(30%);
	background-color: $red;
	@include inline-block;
	

	h3 {
		color: $white;
		font-family: $secondary-font;
		line-height: 0.9;
	}
}
.soundcloud-box {
	width: 400px;
	margin-bottom: rem-calc(20);
	height: 166px;

	@media #{$small-only} {
		max-width: 100%;
		height: 100px;
	}
}
.isHidden {
	display: none;
}
.home {
	&.heading {
		@media #{$medium-only} {
			padding-top: rem-calc(200%);
		}

		@media #{$small-only} {
			padding-top: rem-calc(20%);
		}
	}
}
.mobileonly {
	@media #{$medium-up} {
		display: none;
	}

	img {
		padding-bottom: em(20);
	}
}
.contact-social-media {
	font-size: rem-calc(50);
	margin-top: rem-calc(40);
	text-align: center;

	@media #{$medium-only} {
		font-size: rem-calc(30);
	}

	a {
		color: $white;
		padding-bottom: rem-calc(40);
		@include inline-block;
		@include transition ( all 0.6s ease-in-out );

		&:hover {
			color: $gray;
		}
	}
}
.video {
	> iframe {
		width: 100%;
		height: 300px;

		@media #{$medium-only} {
			height: 600px;
		}

		@media #{$large-up} {
			height: 780px;
		}
	}
}
.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 3000;
	background-color: rgba($white, 0.97);
	display: table;
	vertical-align: middle;
	overflow: scroll;
	left: 50%;
	@include transform( translateX(-50%) );
	@include animation( mod 1.0s ease-in );
	visibility: hidden;
	padding: rem-calc(100);

	@media #{$small-only} {
		padding: rem-calc(20);
	}

	@media #{$medium-only} {
		padding: rem-calc(40);
	}

	.overlay-centered {
		display: table-cell;
		vertical-align: middle;
		//visibility: hidden;
	}

	.overlay-description {
		font-size: 80%;
		padding-top: rem-calc(20);

		@media #{$large-up} {
			padding-left: rem-calc(20);
			padding-top: 0;
		}
	}

	.icon-close {
		font-size: rem-calc(40);
		position: absolute;
		right: 0;
		top: 0;
		background-color: $black;
		color: $white;
		padding: rem-calc(10);
		cursor: pointer;
		@include transition ( all 0.6s ease-in-out );

		&:hover {
			color: $primary-color;
		}
	}
}
@include keyframes( mod ) {
	from {
		width: 0;
		opacity: 0;
	} to {
		width: 100%;
		opacity: 1;
	}
}
.wrapper {
	width: 100%;
	float: left;
}
.centered {
	text-align: center;
}

.loader:before{
	content: "";
	position: absolute;
	top: 0px;
	left: -25px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
	@include animation( loader10g 3s ease-in-out infinite );
}

.loader{
	position: relative;
	width: 12px;
	height: 12px;
	top: 46%;
	left: 46%;
	border-radius: 12px;
	@include animation( loader10m 3s ease-in-out infinite );

	&.overlay-loader {
		position: absolute;
		top: 50%;
		left: 50%;
	}
}


.loader:after{
	content: "";
	position: absolute;
	top: 0px;
	left: 25px;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	@include animation( loader10d 3s ease-in-out infinite );
}

@include keyframes(loader10g){
	0%{background-color: rgba(255, 0, 0, .2);}
	25%{background-color: rgba(255, 0, 0, 1);}
	50%{background-color: rgba(255, 0, 0, .2);}
	75%{background-color: rgba(255, 0, 0, .2);}
	100%{background-color: rgba(255, 0, 0, .2);}
}

@include keyframes( loader10m ) {
	0%{background-color: rgba(255, 0, 0, .2);}
	25%{background-color: rgba(255, 0, 0, .2);}
	50%{background-color: rgba(255, 0, 0, 1);}
	75%{background-color: rgba(255, 0, 0, .2);}
	100%{background-color: rgba(255, 0, 0, .2);}
}

@include keyframes( loader10d ) {
	0%{background-color: rgba(255, 0, 0, .2);}
	25%{background-color: rgba(255, 0, 0, .2);}
	50%{background-color: rgba(255, 0, 0, .2);}
	75%{background-color: rgba(255, 0, 0, 1);}
	100%{background-color: rgba(255, 0, 0, .2);}
}