{embed="Main/.header" body_class="about"}
<div class="body">
    <div class="small-12 medium-5 column">
      <h1 class="heading js-fitText">PAUL CHISOM</h1>

      <div class="mobileonly"><img src="/assets/img/paul-chisom-biography.jpg" alt="about PC - Paul Chisom"></div>

        <h4>
          Stage sensation, <strong>Paul Chisom</strong> aka <strong><em>PC Song</em></strong> is one of Nigeria’s trending artistes. His earliest musical influences are drawn from an array of legends such as Luther Vandross, Lionel Richie, Kirk Franklin, Brandy, Ella Fitzgerald, and range to more contemporary influences such as John Legend, Mali Music and many more.
        </h4>

        <p>
          The singer and songwriter started his music career in 2005, when he became part of a band called the <strong>Group of Friends (GOF)</strong>. They worked with big names like Tuface, Azadus and Sound Sultan.  His career gained momentum through a series of successful involvements with gospel artist, Tim Godfrey, of the <strong>Xtreme Crew<strong> and <strong>The Lagos Community Gospel Choir</strong>.
        </p>

        <p>
          Over the years, he has not only gone on to create a distinct fusion of soul, folk, pop and highlife, his philosophy of music is deeply rooted in inspiring people and challenging perception.
        </p>

        <p>
          He steps out solo in 2014 with two studio recordings; <strong><em>‘Chioma’</em></strong> and <strong><em>’Smile’</em></strong>, both songs produced by renowned producers.
        </p>
    </div>
  </div> 
{embed="Main/.footer"}