{embed="Main/.header"}
<div class="media">
    <h2 class="page-header">MEDIA</h2>

       <div class="media-items collapse">
            <div class="media-item column">
                <img src="/assets/img/PC1.jpg">
            </div>

            <div class="media-item column">
                <img src="/assets/img/PC2.jpg">
            </div>

            <div class="media-item column">
                <img src="/assets/img/PC3.jpg">
            </div>

            <div class="media-item column">
                <img src="/assets/img/PC4.jpg">
            </div>

            <div class="media-item column">
                <img src="/assets/img/PC11.jpg">
            </div>

            <div class="media-item bigger">
                <img src="/assets/img/PC5.jpg" alt="">
            </div>

            <div class="media-item">
                <img src="/assets/img/PC6.jpg" alt="">
            </div>

            <div class="media-item">
                <img src="/assets/img/PC7.jpg" alt="">
            </div>

            <div class="media-item bigger">
                <img src="/assets/img/PC8.jpg" alt="">
            </div>

            <div class="media-item">
                <img src="/assets/img/PC9.jpg" alt="">
            </div>

            <div class="media-item">
                <img src="/assets/img/PC10.jpg" alt="">
            </div>
       </div>
    
       <h3>INSTRAGRAM FEED</h3>

       <div>
         {exp:tgl_instagram:feed}
            {thumbnail}
         {/exp:tgl_instagram:feed}
       </div>
  </div> 
{embed="Main/.footer"}